# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Nuxt
.nuxt/
.output/
dist/

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite
postgres_data/
